/* 🎨 THEME - VARIABLES GLOBALES 🎨 */
/* ========================== */

:root {
    --primary-color: #E79EE6;
    --secondary-color: #2DA06A;
    --accent-color: #f39c12;
    --contrast-color: #e8e9e9;

    --primary-light-color: #f5c2f4;
    --secondary-light-color: #a3e2c5;
    --accent-light-color: #ecd2a8;
    --contrast-light-color: #f8f8f8;

    --primary-highlight: #963591;
    --secondary-highlight: #176544;
    --accent-highlight: #c57c06;
    --contrast-highlight: #cccdcf;

    --primary-hover: #E778FA;
    --secondary-hover: #4EB983;
    --accent-hover: #c57c06;
    --contrast-hover: #d4d4d4;

    --text-light: #ecf0f1;
    --text-dark: #222222;
    --text-disabled: rgb(109, 109, 109);

    --border-light: #0f1214;
    --border-dark: #8B94A4;
    --border-semilight: #cfcfcf;

    --disabled: #c5cfe0;
    --error: #90213D;
    --correct: #4EB983;
    --error-border: #5e1426;

    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-brand: 3px 3px var(--primary-highlight);
    --shadow-secondary: 2px 2px var(--secondary-highlight);
    --shadow-contrast: 2px 2px var(--border-dark);


    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Arial', sans-serif;
    --font-size-title: 28px;
    --font-size-large: 24px;
    --font-size-medium: 16px;
    --font-size-small: 14px;

    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;

    --border-radius: 20px;
    --border-radius-small: 30px;

    --btn-height: 50px;
    --btn-radius: 30px;
    --btn-circle-radius: 50%;
    --btn-padding: 10px;
    --btn-font-size: var(--font-size-medium);
    --btn-font-weight: bold;
}

/* 📏 RESET Y BASIC CSS 📏*/
/* ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backgrounds/green_background.png');
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: clamp(10px, 5vw, 40px);
    overflow: hidden;
}

.card {
    width: 90vw;
    max-width: 400px;
    height: 80vh;
    max-height: 700px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow_dark);
    text-align: center;
    padding: clamp(15px, 3vw, 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/backgrounds/grey_background.png');
    position: relative;
    overflow: hidden;
}

.card-header {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;  
}

.card-header-bubble {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;  
}


.card-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

.card-team-content {
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

.card-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.page-in {
    opacity: 0;
    transform: translateY(10px);
    animation: flipIn 0.5s forwards;
}

.page-out {
    opacity: 0;
    transform: translateY(10px);
    animation: flipOut 0.5s forwards;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 220px;
    margin-bottom: 20px;
}

.logo-small {
    width: auto; 
    max-height: 110px;
    object-fit: contain;
}

/* 💬 BUBBLE 💬 */
/* ========================== */

.speech-bubble {
    max-width: 80%;
}

.speech-bubble,
.speech-bubble-left {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-color);
    color: var(--text-dark);
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: var(--shadow-brand);
    max-width: 80%;
}

.card-content .speech-bubble,
.card-team-content  .speech-bubble,
.card-content .speech-bubble-left,
.card-team-content  .speech-bubble-left {
    justify-content: center;
}


.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--primary-color);
}

.speech-bubble-left::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--primary-color);
}

/* 🔘 BUTTONS 🔘 */
/* ========================== */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: var(--shadow-dark);
    height: var(--btn-height);
    padding: 12px 0;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    gap: 20px;
}

.btn-small {
    width: var(--btn-height);
    height: var(--btn-height);
}

.btn-medium {
    width: 50%;
    max-width: 150px;
    height: var(--btn-height);
}

.btn-large {
    width: 100%;
    max-width: 300px;
    height: var(--btn-height);
}

.btn-primary {
    background: var(--primary-color);
    color: var(--text-light);
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-secondary {
    background: var(--secondary-color);
    color: var(--text-light);
}

.btn-secondary:hover {
    background: var(--secondary-hover);
}

.btn-contrast {
    background: var(--contrast-color);
    color: var(--text-dark);
}

.btn-contrast:hover {
    background: var(--contrast-hover);
}

.btn-disabled {
    background: var(--btn-disabled-bg);
    color: var(--text-disabled);
    cursor: not-allowed;
}

.btn-icon {
    color: var(--text-disabled);
    font-size: 18px!important;
    cursor: pointer;

}

.btn-icon:hover {
    color: var(--text-dark);

}

/* 🎮 QUIZ 🎮 */
/* ========================== */

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
}

.progress-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 15px;

}

.question-number {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; 
}

.exit-button {
    position: absolute;
    right: 10px; 
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;

}

.exit-button:hover {
    color: #e74c3c; 
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.progress {
    width: 0%; /* Este será el ancho inicial del progreso */
    height: 10px;
    background-color: #2DA06A;
    border-radius: 8px;
    transition: width 0.5s ease-out; /* La animación */
}

.question-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.question-image {
    width: 30vw;
    height: 30vw;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-image img {
    border-radius: 25px;
    object-fit: cover;
    display: block;
    margin-bottom: 2vh;
    width: 100%;
    height: 100%;
}

.question-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 3vh;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    margin-bottom: 1vh;
}

.option {
    background: var(--text-light);
    border: 2px solid var(--primary-highlight);
    padding: 0 10px;
    height: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer !important;
    transition: all 0.2s;
    font-size: var(--btn-font-size);
    max-width: 100%;
    word-wrap: break-word;
}

.option:hover {
    background: var(--primary-color);
    color: var(--text-dark);
}

.correct {
    background-color: var(--correct) !important;
    color: var(--text-light) !important;
    border: 2px solid var(--secondary-highlight) !important;
    animation: correctBounce 0.6s ease-in-out, correctGlow 0.8s ease-in-out forwards;
}

.wrong {
    background-color: var(--error) !important;
    color: var(--text-light) !important;
    border: 2px solid var(--error-border) !important;
    animation: shake 0.6s ease-in-out, wrongShakeColor 0.8s ease-in-out forwards;
}

/* 👨‍👩‍👧‍👦 TEAM 👨‍👩‍👧‍👦 */
/* ========================== */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.team-member-card {
    width: calc(50% - 10px);
    height: 180px;
    perspective: 1000px;
    cursor: pointer;
}

.inner-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s ease;
}

.front {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    justify-content: end;
}

.back {
    background-color: var(--secondary-color);
    box-shadow: var(--shadow-secondary);
    color: var(--text-light);
    transform: rotateY(180deg);
    justify-content: center;
}

.card-text {
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.card-subtext {
    color: white;
    font-size: 0.95em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.card-description {
    font-size: 0.85em;
    margin-top: 10px;
}

.team-member-card.flipped .inner-card {
    transform: rotateY(180deg);
}

/* ℹ️ INFO MODAL ℹ️*/
/* ========================== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999; 
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    background-color: #fff;
    border-radius: 12px; 
    width: 90%;
    max-width: 700px;
    padding: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
    overflow-y: auto;
    max-height: 80vh;
    overflow-x: hidden;
    transition: transform 0.3s ease-out;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
}

.modal-body {
    font-size: 1.1em;
    color: var(--text-dark);
    line-height: 1.6;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.modal-footer .btn {
    padding: 12px 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    min-width: 120px;
}

.social-links {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    max-height: 300px;
    justify-content: center; 
}

.social-link {
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-decoration: none;
    gap: 8px; 
    padding: 8px 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: calc(50% - 10px); 
    margin: 6px 0;
}

.social-link:hover {
    transform: scale(1.05);
    background-color: var(--secondary-color); 
    color: var(--text-light);
}

.social-link .circle {
    font-size: 1.3em;  
    color: var(--text-dark);
}

.social-link .text {
    font-size: 0.95em; 
    font-weight: 600;
    color: var(--text-dark);
}

.social-link .description {
    font-size: 0.7em; 
    color: #555;
    margin-top: 4px;
    display: block;
}

/* 🎊 CONFETTI 🎊*/
/* ========================== */

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff69b4;
    border-radius: 50%; 
    opacity: 0.8;
    animation: fall linear infinite;
}

/* 🎬 ANIMATION 🎬*/
/* ========================== */

.flip-out {
    animation: flipOut 0.5s ease-out;
}

.flip-in {
    animation: flipIn 0.5s ease-out;
}

@keyframes flipOut {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    to {
        transform: rotateY(-90deg);
        opacity: 0;
    }
}

@keyframes flipIn {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes correctBounce {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes correctGlow {
    0% {
        box-shadow: 0 0 10px var(--secondary-highlight);
    }

    100% {
        box-shadow: 0 0 20px var(--correct), 0 0 30px var(--secondary-highlight);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes wrongShakeColor {
    0% {
        background-color: var(--error);
        border-color: var(--error-border);
    }

    50% {
        background-color: #f00;
        border-color: #d33;
    }

    100% {
        background-color: var(--error);
        border-color: var(--error-border);
    }
}


@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes progressAnimation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

/* 📱 MEDIA RESPONSIVE 📱 */
/* ========================== */

@media (max-width: 600px) {
    .logo {
        max-height: 190px;
    }

    .speech-bubble {
        font-size: 15px;
        padding: 8px 12px;

    }

    .btn {
        font-size: 17px;
        font-weight: 590;

    }

    .btn-row {
        margin-bottom:5px;

    }

    .question-number {
        font-size: 16px;
    }

    .progress-bar {
        height: 1vh;
    }

    .option:hover {
        background-color: initial;
        cursor: initial;
    }
.card-footer{
    gap:35px;
}
    .question-image {
        width: 65vw;
        height: 65vw;
        max-width: 180px;
        max-height: 180px;
    }

    .question-text {
        font-size: 18px;
    }

    .option {
        font-size: 17px;
        height:40px;
    }

    .team-container {
        padding:15px;
    }
    
    .card-team-content .team-member-card {
        width: calc(50% - 10px);
        height: 170px;
       
    }
    .modal-content {
        width: 95%;
        padding: 20px;
    }

    .modal-header h2 {
        font-size: 1.1em;
    }

    .modal-body {
        font-size: 1em;
    }

    .social-links {
        gap: 10px;
    }

    .social-link {
        width: calc(50% - 10px); 
    }

    .social-link .text {
        font-size: 0.9em;
    }

    .social-link .description {
        font-size: 0.75em;
    }

}

@media (max-width: 480px) {
    .logo {
        max-height: 180px;
    }

    .speech-bubble {
        font-size: 14px;
        padding: 6px 10px;
        max-width: 90%;
    }

    .btn {
        font-size: 16px;
        font-weight: 590;

    }

    .card-footer{
    gap:33px;
}
    .btn-row {
        margin-bottom:5px;

    }
    
    .question-number {
        font-size: 16px;
    }

    .progress-bar {
        height: 0.8vh;
    }

    .option:hover {
        background-color: initial;
        cursor: initial;
    }

    .question-image {
        width: 60vw;
        height: 60vw;
        max-width: 180px;
        max-height: 180px;
    }

    .question-text {
        font-size: 18px;
    }

    .option {
        font-size: 17px;
         height:40px;
    }
    
    .team-container {
        padding:12px;
    }
    .card-team-content .team-member-card {
        width: calc(50% - 10px);
        height: 170px;

    }
}

@media (max-width: 325px) {
    .logo {
        max-height: 120px;
    }

    .speech-bubble {
        font-size: 12px;
        padding: 4px 8px;
        max-width: 90%;
    }
.card-header .text {
        font-size: 13px;
    
}
    
    .btn {
        font-size: 15px;
        font-weight: 550;

    }

    .btn-small {
        height: 30px;
         width: 30px;

    }

    .btn-medium{
        height: 30px;
        
    }
      .btn-large{
        height: 30px;
        
    }
    .btn-row {
        margin-bottom:5px;
    }
    
    .question-number {
        font-size: 15px;
    }

    .progress-bar {
        height: 0.7vh;
    }

    .option:hover {
        background-color: initial;
        cursor: initial;
    }

    .question-image {
        width: 30vw;
        height: 30vw;
        max-width: 110px;
        max-height: 110px;
    }

    .question-text {
        font-size: 17px;
    }

    .option {
        font-size: 16px;
         height:35px;
    }
    
    .team-container {
        padding:10px;
    }
    .card-team-content .team-member-card {
        width: calc(50% - 10px);
        height: 100px;

    }
    .card-footer{
    gap:10px;
}
}
