.card-game {
    width: 90vw;
    max-width: 400px;
    height: 80vh;
    max-height: 700px;
    border-radius: 20px;
    box-shadow: var(--shadow_dark);
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/backgrounds/grey_background.png');
    position: relative;
}


.progress-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.question-number {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin: 10px auto;
    overflow: hidden;
}

.progress {
    width: 10%;
    height: 100%;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}


.question-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 10px 0;
}


.question-image {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
}

.question-image img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
}

.question-text {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 15px;
}


.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.option {
    background: var(--text-light);
    border: 2px solid var(--primary-highlight);
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer !important;
    transition: all 0.2s;
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
}

.option:hover {
    background: var(--primary-color);
    color: var(--text-dark);
}

@media (max-width: 768px) {
    .option:hover {
        background-color: initial;
        cursor: initial;
    }
}


.correct {
    background-color: var(--correct) !important;
    color: var(--text-light) !important;
    border: 2px solid var(--secondary-highlight) !important;
    animation: correctBounce 0.5s ease-in-out;

}

.wrong {
    background-color: var(--error) !important;
    color: var(--text-light) !important;
    border: 2px solid var(--error-border) !important;
    animation: shake 0.4s ease-in-out;
}