* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}


:root {
   
    --primary-color: #E79EE6;
    --secondary-color: #2DA06A;
    --accent-color: #f39c12;
    --contrast-color: #E5E7EB;
    
    --primary-highlight: #963591; 
    --secondary-highlight: #176544;
    --accent-highlight: #c57c06;
    --contrast-highlight: #cccdcf;

    --primary-hover: #E778FA; 
    --secondary-hover: #4EB983;
    --accent-hover: #c57c06;
    --contrast-hover: #d4d4d4;

    --text-light: #ecf0f1;
    --text-dark: #222222;
    --text-disabled: rgb(109, 109, 109);


    --border-light: #0f1214;
    --border-dark: #8B94A4;

    --disabled: #c5cfe0;
    --error: #90213D;
    --correct: #4EB983;

    --error-border: #5e1426;


    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-brand: 5px 5px var(--primary-highlight);

    --main-font: 'Montserrat', sans-serif;
}


:root {
  
    --font-size-large: 24px;
    --font-size-medium: 16px;
    --font-size-small: 14px;
    --card-size: 90vw;

 
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;


    --border-radius: 20px;
    --border-radius-small: 30px;

 
    --btn-size-large: 150px;
    --btn-size-medium: 300px;
    --btn-size-small: 50px;
}


:root {
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Arial', sans-serif;
}

:root {
    /* Colores de botones */
    --btn-primary-bg: var(--primary-color);
    --btn-secundary-bg: var(--secondary-color);
    --btn-contrast-bg: var(--contrast-color);
    --btn-disabled-bg: var(--disabled);

    --btn-primary-hover-bg: var(--primary-hover);
    --btn-secundary-hover-bg: var(--secondary-hover);
    --btn-contrast-hover-bg: var(--contrast-hover);
    --btn-contrast-border: var(--border-dark);

    --btn-text-light: var(--text-light);
    --btn-text-dark: var(--text-dark);

    --btn-radius: 30px;
    --btn-circle-radius: 50%;
    --btn-padding: 10px;
    --btn-size-small: 50px;
    --btn-size-medium: 150px;
    --btn-size-large: 300px;
    --btn-height: 50px;


    --btn-font-size: var(--font-size-medium);
    --btn-font-weight: bold;

}
