:root {
    --brand: #E79EE6;
    --brand_hover: #E778FA;
    --brand_highlight: #963591;
    --brand_shadow: #2D1B3C;


    --brand_dark: #963591;
    --brand_dark_hover: #B643B2;
    --brand_dark_highlight: #662961;

    --secundary: #2DA06A;
    --secundary_hover: #4EB983;
    --secundary_highlight: #176544;

    --grey: #ffffff;
    --grey_hover: #E5E7EB;
    --grey_highlight: #EEEFF2;
    --grey_border: #8B94A4;

    --disabled: #8B94A4;
    --disabled_text: #E5E7EB;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backgrounds/green_background.png');
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}

.card {
    width: 90vw;
    max-width: 400px;
    height: 80vh;
    max-height: 700px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/backgrounds/grey_background.png');
    position: relative; 
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
}

.logo {
    width: 20vw; 
    max-width: 190px; 
    height: auto;
}

.card .logo {
    width: 80%; 
    max-width: 190px; 
}


.speech {
    width: 25vw; 
    max-width: 250px; 
    height: auto;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.speech-bubble {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--brand);
    color:  var(--brand_shadow);
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 5px 5px var(--brand_highlight);
}

.speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--brand);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn_link {
    border-radius: 30px;
    font-size: 16px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.just_link { color: var(--grey_border); border: 1px solid var(--grey_border); }
.just_link:hover { color: black; }

.link{
    text-decoration: none;
    color: var(--grey_border);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute; 
    bottom: 130px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    gap: 10px; 
}

.btn_round_primary {
    background-color: var(--brand);
    color:white;
    border: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
}

.btn_round_primary:hover {
    background-color: var(--brand_dark_hover);
}

.btn_round_disabled {
    background-color: var(--disabled);
    color:var(--disabled_text);
    border: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
}

.btn_round_secundary {
    background-color: var(--secundary);
    color:white;
    border: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    width: 50px;
}

.btn_round_secundary:hover {
    background-color: var(--secundary_hover);
}

.btn_round_gray {
    background-color: var(--grey);
    color:#222222;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
    border: 1px solid var(--grey_border);
    height: 50px;
    width: 50px;
}

.btn_round_gray:hover {
    background-color: var(--grey_hover);
}

.btn_large_gray {
    background-color: var(--grey);
    color:#222222;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size:18px;
    width: 80%;
    border:none;
}


.btn_semi_large_secundary {
    background-color: var(--secundary);
    color:white;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    width:40%;
}

.btn_semi_large_secundary:hover {
    background-color: var(--secundary_hover);

}

.btn_large_gray:hover {
    background-color: var(--grey_hover);
}

.back{
    margin-left: 40px;
    float:left;
}

.next{

    margin-right: 40px;
    float: right;
}

.skip{
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%); 
}


.btn_link {
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.link {
    color: inherit;
    text-decoration: none !important;
}

@media (max-width: 480px) {
    .card {
        width: 95vw;
        height: 85vh;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}


@media (max-width: 600px) {
    .logo {
        width: 50vw; 
    }
}

@media (max-width: 480px) {
    .card {
        width: 95vw;
        height: 85vh;
    }
}
